<mat-icon class="user-icon">person</mat-icon>
<div>
    <mat-form-field class="field-props">
        <input matInput placeholder="Email" value="{{currentUser.email}}" disabled>
    </mat-form-field>
    <mat-form-field class="field-props">
        <input matInput placeholder="Nickname" value="{{currentUser.nickname}}" disabled>
    </mat-form-field>
    <mat-form-field class="field-props">
        <input matInput placeholder="Country" value="{{currentUser.other.country}}" disabled>
    </mat-form-field>
    <mat-form-field class="field-props">
        <input matInput placeholder="Name" value="{{currentUser.other.name}}" disabled>
    </mat-form-field>
    <mat-form-field class="field-props">
        <input matInput placeholder="Last name" value="{{currentUser.other.lastname}}" disabled>
    </mat-form-field>
    <mat-form-field class="field-props">
        <input matInput placeholder="Phone number" value="{{currentUser.other.phone}}" disabled>
    </mat-form-field>
</div>