.main-tab {
    position: absolute;
    margin-top: -40px;
}

.tabs-prop {
    margin-top: 10px;
  }

  .info-props {
    position: absolute !important;
    right: 0!important;
    top: 0 !important;
    z-index: 2!important;
    margin-right: 15px!important;
    margin-top: 15px!important;
  }